* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

#container { 
    width: 600px;
    margin: 10px auto;
}

h1, h4 {
    text-align: center;
}

.cod_disc {
    text-align: center;
    width:55px;
}

#grr {
    width:120px;
}