* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

#container { 
    width: 600px;
    margin: 10px auto;
}

h1, h4 {
    text-align: center;
}

.cod_disc {
    text-align: center;
    width:55px;
}

#grr {
    width:125px;
}

.histcolor {
    background: #DDD;
}

#cation {
    text-align: center;
    margin: 0 auto;
    height: 50px;
}

#cation span {
    text-shadow: 0 0 1px #555;
    font-size: 13px;
}