<% if current_user.admin %>
<h1>Alterando o Código</h1>

<%= render 'form' %>

<%= link_to 'Mostrar', @code %> |
<%= link_to 'Voltar', codes_path %>
<% else %>
        <p>Área Restrita!!!</p>
<% end %>
